In [9]:
import pymongo
import pandas as pd
client = pymongo.MongoClient('localhost',27017)
db  = client['Graduation_project']
table = db['city']
city = pd.DataFrame(list(table.find()))
del city['_id']

In [11]:
city.head()

        code    市    省
0  101010100   北京   北京
1  101020100   上海   上海
2  101030100   天津   天津
3  101040100   重庆   重庆
4  101050100  哈尔滨  黑龙江

In [13]:
city.to_csv('city.csv')

In [16]:
import pandas as pd

city = pd.read_csv('city.csv')
data = city[['code', '省', '市']]
data.head()

        code    省    市
0  101010100   北京   北京
1  101020100   上海   上海
2  101030100   天津   天津
3  101040100   重庆   重庆
4  101050100  黑龙江  哈尔滨

In [20]:
city = data.values

In [21]:
city

array([[101010100, '北京', '北京'],
       [101020100, '上海', '上海'],
       [101030100, '天津', '天津'],
       ...,
       [101140700, '西藏', '阿里'],
       [101320300, '香港', '香港'],
       [101330100, '澳门', '澳门']], dtype=object)

In [23]:
city[1][2]

'上海'

In [36]:
# 连接到MongoDB
MONGO_URL = 'localhost'
MONGO_DB = 'Graduation_project'
MONGO_COLLECTION = 'jobs_info'
client = pymongo.MongoClient(MONGO_URL, port=27017)
db = client[MONGO_DB]


# 检查是否已爬过
check = pd.DataFrame(list(db[MONGO_COLLECTION].find()))
check_list = check[['signal']]
grouped = check_list.groupby(check['signal'])

In [44]:
'1' in grouped.size().index

True